<server>
	<featureManager>

		<feature>javaee-7.0</feature>
		<feature>localConnector-1.0</feature>
		<feature>cloudant-1.0</feature>

		<!-- OIDC -->
		<feature>openidConnectClient-1.0</feature>

	</featureManager>

<!-- 	<logging traceSpecification="*=audit:com.ibm.ws.security.*=all" /> -->

	<httpEndpoint id="defaultHttpEndpoint" host="*" httpPort="8080" />

	<application name="dokia" context-root="/" type="war"
		location="dokia.war">
		<application-bnd>
			<security-role name="AllAuthenticated">
				<special-subject type="ALL_AUTHENTICATED_USERS" />
			</security-role>
		</application-bnd>
	</application>

	<!-- w3id v 1.01 -->
	<!-- DEV -->
<!-- 	<openidConnectClient authFilterRef="myAuthFilter" -->
<!-- 		authorizationEndpointUrl="https://w3id-test.sso.ibm.com/isam/oidc/endpoint/amapp-runtime-oidcidp/authorize" -->
<!-- 		clientId="MDY3MGVlZDUtZDViOS00" clientSecret="Mjg2OTY2NWItZTdjMS00" -->
<!-- 		id="dokiaroom" issuerIdentifier="https://w3id-test.sso.ibm.com/isam" -->
<!-- 		signatureAlgorithm="RS256" sslRef="sslidp" -->
<!-- 		tokenEndpointUrl="https://w3id-test.sso.ibm.com/isam/oidc/endpoint/amapp-runtime-oidcidp/token" -->
<!-- 		trustAliasName="w3idp" trustStoreRef="trustStore" -->
<!-- 		userIdentityToCreateSubject="sub"> -->
<!-- 	</openidConnectClient> -->
	
	<!-- PROD -->
	<openidConnectClient authFilterRef="myAuthFilter"
		authorizationEndpointUrl="https://w3id.sso.ibm.com/isam/oidc/endpoint/amapp-runtime-oidcidp/authorize"
		clientId="OWY3ZTYxNGQtNWE1Ny00"
		 clientSecret="YTEwNDQwMmItOTc2ZC00"
		id="dokiaroomprod"
		issuerIdentifier="https://w3id.sso.ibm.com/isam"
		signatureAlgorithm="RS256"
		tokenEndpointUrl="https://w3id.sso.ibm.com/isam/oidc/endpoint/amapp-runtime-oidcidp/token"
		trustAliasName="w3idpprod"
		trustStoreRef="trustStore"
		userIdentityToCreateSubject="sub">
	</openidConnectClient>

	<authFilter id="myAuthFilter">
		<requestUrl id="myRequestUrl" matchType="contains"
			urlPattern="/api/login" />
	</authFilter>

	<!-- OIDC -->
	<sslDefault sslRef="DefaultSSLSettings"/>
	<ssl id="DefaultSSLSettings" keyStoreRef="keyStore" trustStoreRef="trustStore"/>
	
	<keyStore
		id="keyStore"
		location="${server.config.dir}/ssl/key.jks"
		password="wasadmin"
		type="JKS" />
	<keyStore
		id="trustStore"
		location="${server.config.dir}/ssl/trust.jks"
		password="wasadmin"
		type="JKS" />
		
<!-- 	<basicRegistry id="basic" realm="BasicRealm"> -->
<!-- 		<user name="wasadmin" password="{xor}KD4sPjsyNjE="/> -->
<!-- 	</basicRegistry> -->

</server>