<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
	<!-- <ul class="list-group">
		<a routerLink="/user/list" [routerLinkActive]="['router-link-active']"
			class="list-group-item"> <i class="fa fa-fw fa-info-circle"></i>&nbsp;User
		</a>
	</ul>

	<ul class="list-group">
		<a routerLink="/cost/list" [routerLinkActive]="['router-link-active']"
			class="list-group-item"> <i class="fa fa-fw fa-info-circle"></i>&nbsp;Cost
		</a>
	</ul>
	
	<ul class="list-group">
		<a routerLink="/wallet/list" [routerLinkActive]="['router-link-active']"
			class="list-group-item"> <i class="fa fa-fw fa-info-circle"></i>&nbsp;Wallet
		</a>
	</ul>

	<ul class="list-group">
		<a routerLink="/rule/list" [routerLinkActive]="['router-link-active']"
			class="list-group-item"> <i class="fa fa-fw fa-info-circle"></i>&nbsp;Rule
		</a>
	</ul> -->

	<ul class="list-group">
		<a routerLink="/companys" [routerLinkActive]="['router-link-active']"
			class="list-group-item"> <i class="fa fa-fw fa-info-circle"></i>&nbsp;Fluxo de Documentos
		</a>
	</ul> 

	<!-- <ul class="list-group">
		<a routerLink="/rules" [routerLinkActive]="['router-link-active']"
			class="list-group-item"> <i class="fa fa-fw fa-info-circle"></i>&nbsp;Rules
		</a>
	</ul>  -->

	<ul class="list-group">
		<a routerLink="/lots" [routerLinkActive]="['router-link-active']"
			class="list-group-item"> <i class="fa fa-fw fa-info-circle"></i>&nbsp;Lote
		</a>
	</ul> 
</nav>