<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
	<ul class="list-group">
		<a routerLink="/user" [routerLinkActive]="['router-link-active']"
			class="list-group-item"> <i class="fa fa-fw fa-info-circle"></i>&nbsp;User
		</a>
	</ul>
	<ul class="list-group">
		<a routerLink="/rule" [routerLinkActive]="['router-link-active']"
			class="list-group-item"> <i class="fa fa-fw fa-info-circle"></i>&nbsp;Rule
		</a>
	</ul>
	<ul class="list-group">
		<a routerLink="/cost" [routerLinkActive]="['router-link-active']"
			class="list-group-item"> <i class="fa fa-fw fa-info-circle"></i>&nbsp;cost
		</a>
	</ul>
	<ul class="list-group">
		<a routerLink="/wallet" [routerLinkActive]="['router-link-active']"
			class="list-group-item"> <i class="fa fa-fw fa-info-circle"></i>&nbsp;wallet
		</a>
	</ul>
	<ul class="list-group">
		<a routerLink="/company" [routerLinkActive]="['router-link-active']"
			class="list-group-item"> <i class="fa fa-fw fa-info-circle"></i>&nbsp;company
		</a>
	</ul>
</nav>