<div>  

    <section>
        <div class="row">
            <div class="col-12 text-left">
                <h3>Carteira</h3>
            </div>
        </div> 
    </section>
                
    <section>
        <div class="row">
            <div class="col-6 text-left">
                <label (click)="backLocation();">
                <i class="fa fa-arrow-left fa-2x" aria-hidden="true"></i></label>
            </div>
            <div class="col-6 text-right">
                    <label [routerLink]="['/company/', idCompany, 'wallet','add']"><h5>ADICIONAR
                <i class="fa fa-plus-square fa-2x click gap-top5" aria-hidden="true" ></i></h5></label>
            </div>
        </div> 
    </section>
    
    <section class="form-group row justify-content-between">
        <div class="col-12 table-responsive">
            <table class="table table-striped table-responsive table-bordered form-control ">
                <thead>
                    <tr>
                        <!-- <th class="text-center">ID Wallet</th> -->
                        <th class="text-center">Código</th>
                        <th class="text-center">Descrição</th>
                        <th class="text-center">Avançar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let wallet of listWallet" id="{{wallet._id}}">
                        <!-- <td class="text-right">{{wallet._id}}</td> -->
                        <td class="text-right">{{wallet.code}}</td>
                        <td class="text-left">{{wallet.description}}</td>
                        <td class="text-center" [routerLink]="['/company/', idCompany, 'wallet', wallet._id, 'users']">Avançar<i class="fa fa-arrow-right" aria-hidden="true"></i></td>
                        
                    </tr>
                </tbody>
            </table>
        </div>
    </section>  
</div>