<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '20px' }"></ngx-loading>
<div>  

    <section>
        <div class="row">
            <div class="col-12 text-left">
                <h3>Custa</h3>
            </div>
        </div> 
    </section>

    <section>
        <div class="row">
            <div class="col-12 text-right">
                <label [routerLink]="['/company/', idCompany, 'wallet', idWallet, 'user', idUser, 'process', idProcess, 'expense', 'add']"><h5>ADICIONAR
                <i class="fa fa-plus-square fa-2x click gap-top5" aria-hidden="true" ></i></h5></label>
            </div>
        </div> 
    </section>

    <!-- <section class="form-group row justify-content-between">
        <div class="col-2 gap-top10 ">
            <h5><b>ID Company</b></h5>
        </div>
        <div class="col-10 gap-top10">
            <h5>{{idCompany}}</h5>
        </div>
    </section>

    <section class="form-group row justify-content-between">
        <div class="col-2 gap-top10 ">
            <h5><b>ID Wallet</b></h5>
        </div>
        <div class="col-10 gap-top10">
            <h5>{{idWallet}}</h5>
        </div>
    </section>

    <section class="form-group row justify-content-between">
        <div class="col-2 gap-top10 ">
            <h5><b>ID User</b></h5>
        </div>
        <div class="col-10 gap-top10">
            <h5>{{idUser}}</h5>
        </div>
    </section>

    <section class="form-group row justify-content-between">
        <div class="col-2 gap-top10 ">
            <h5><b>ID Process</b></h5>
        </div>
        <div class="col-10 gap-top10">
            <h5>{{idProcess}}</h5>
        </div>
    </section> -->
    
    <section class="form-group row justify-content-between">
        <div class="col-12 table-responsive">
            <table class="table table-striped table-responsive table-bordered form-control ">
                <thead>
                    <tr>
                        <!-- <th class="text-center">ID Expense</th> -->
                        <th class="text-center">Tipo da Custa</th>
                        <th class="text-center">Código da Custa</th>
                        <th class="text-center">Descrição da Custa</th>
                        <th class="text-center">Data da criação</th>
                        <th class="text-center">Avançar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let expense of listExpense" id="{{expense._id}}">
                        <!-- <td class="text-right">{{expense._id}}</td> -->
                        <td class="text-left"> {{expense.typeExpense}}</td>
                        <td class="text-left"> {{expense.codeExpense}}</td>
                        <td class="text-left"> {{expense.descriptionExpense}}</td>
                        <td class="text-left"> {{expense.releaseDay}}</td>
                        <td class="text-center" [routerLink]="['/company/', idCompany, 'wallet', idWallet, 'user', idUser, 'process', idProcess, 'expense', expense._id, 'document']">Avançar<i class="fa fa-arrow-right" aria-hidden="true"></i></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>  
</div>