<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '20px' }"></ngx-loading>
<div>  

    <section>
        <div class="row">
            <div class="col-12 text-right">
                <h3>User</h3>
            </div>
        </div> 
    </section>
                

    <section>
        <div class="row">
            <div class="col-12 text-right">
                <label [routerLink]="['/company/', idCompany, 'wallet', idWallet, 'user', 'add']"><h5>ADICIONAR
                <i class="fa fa-plus-square fa-2x click gap-top5" aria-hidden="true" ></i></h5></label>
            </div>
        </div> 
    </section>

    <section class="form-group row justify-content-between">
        <div class="col-2 gap-top10 ">
            <h5><b>ID Company</b></h5>
        </div>
        <div class="col-10 gap-top10">
            <h5>{{idCompany}}</h5>
        </div>
    </section>

    <section class="form-group row justify-content-between">
        <div class="col-2 gap-top10 ">
            <h5><b>ID Wallet</b></h5>
        </div>
        <div class="col-10 gap-top10">
            <h5>{{idWallet}}</h5>
        </div>
    </section>


    <section class="form-group row justify-content-between">
        <div class="col-12 table-responsive">
            <table class="table table-striped table-responsive table-bordered form-control ">
                <thead>
                    <tr>
                        <th class="text-center">ID User</th>
                        <th class="text-center">idSIR</th>
                        <th class="text-center">CPF</th>
                        <th class="text-center">Name</th>
                        <th class="text-center">NEXT</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of listUser" id="{{user._id}}">
                        <td class="text-right">{{user._id}}</td>
                        <td class="text-left"> {{user.idSIR}}</td>
                        <td class="text-right">{{user.cpf}}</td>
                        <td class="text-right">{{user.name}}</td>
                        <td class="text-center" [routerLink]="['/company/', idCompany, 'wallet', idWallet, 'user', user._id, 'process']">NEXT</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>  
</div>