<div>    
    <section class="form-group row justify-content-between">
        <div class="col-2 gap-top10 ">
            <h5><b>ID Company</b></h5>
        </div>
        <div class="col-10 gap-top10">
            <h5>{{wallet.idCompany}}</h5>
        </div>
    </section>

    <section class="form-group row justify-content-between">
        <div class="col-2 gap-top10 ">
            <h5><b>Code</b></h5>
        </div>
        <div class="col-10 gap-top10">
            <input type="text" name="wallet.code" id="wallet.code" class="form-control" [(ngModel)]="wallet.code" />
        </div>
    </section>

    <section class="form-group row justify-content-between">
        <div class="col-2 gap-top10 ">
            <h5><b>Description</b></h5>
        </div>
        <div class="col-10 gap-top10">
            <input type="text" name="wallet.description" id="wallet.description" class="form-control" [(ngModel)]="wallet.description" />
        </div>
    </section>

    <section class="form-group row justify-content-between">
        <div class="col-4 offset-4 gap-top10 ">
            <button type="button" class="btn background-button form-control" (click)="addWallet();">Save</button>
        </div>
    </section>        
</div>    